@import 'tailwindcss';

:root {
  --background: #3a1830;
  /* --background: #562446; */
  /* --background: #eeeeee; */

  --foreground: #edd4e6;
  --font-heading: var(--font-oswald);
  --font-body: var(--font-geist-sans);
}

@theme {
  --breakpoint-xs: 20rem;
  /* --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem; */
}

body {
  background: var(--background);
  background: url('/noise.png'), radial-gradient(circle, #562446 0%, #481e3b 44%, #3a1830 88%);
  background-blend-mode: overlay;
  color: var(--foreground);
}

@utility card {
  @apply p-2 space-y-1 hover:bg-black/10 transition-colors duration-150 overflow-hidden;
}

@utility desc-before {
  @apply absolute left-0 top-1 bottom-1 w-[1px] bg-[var(--foreground)] opacity-25;
}

@utility fisheye-zoom {
  @apply transition-all duration-300 ease-in-out hover:scale-110 hover:rounded-[15px];
}

@utility about-p {
  @apply relative pl-2 py-2 before:desc-before text-sm leading-normal tracking-[0.01em];
}

@layer utilities {
  .link-before {
    position: relative;
    overflow: hidden;
    display: block;
  }

  .link-before::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--foreground);
    transform: scaleX(0);
    transition: transform 0.22s ease-in-out;
  }

  .link-before:hover::before {
    transform: scaleX(1);
  }
}

@utility burger-bar {
  @apply h-[4px] w-8 bg-[var(--foreground)] transition rounded-4xl;
}

@utility projects-link {
  @apply text-[#289b2e] hover:text-[var(--foreground)];
}

@utility about-link {
  @apply text-[#c5c349] hover:text-[var(--foreground)];
}

@utility activities-link {
  @apply text-[#4b3ec4] hover:text-[var(--foreground)];
}

@utility text-link {
  @apply text-[#245eaa] cursor-pointer hover:text-[var(--foreground)];
}

@utility page-container {
  @apply py-8 flex flex-col items-center gap-y-8;
}

@utility container {
  @apply rounded-2xl p-4 border-1 border-[#edd4e61e] min-h-75 w-9/10 max-w-[1080px];
}

@utility container-h2 {
  @apply text-2xl uppercase tracking-wide font-semibold;
}

@utility input {
  @apply border-b w-52 sm:w-60 md:w-76 outline-0 text-base p-1;
}

.spinnerContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  z-index: 22;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, var(--foreground));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
