@import 'tailwindcss';

:root {
  /* --background: #3a1830; */
  --background: #562446;
  /* --background: #eeeeee; */

  --foreground: #edd4e6;
  --font-heading: var(--font-oswald);
  --font-body: var(--font-geist-sans);
}

@theme {
  --breakpoint-xs: 20rem;
  /* --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem; */
}

body {
  background: var(--background);
  background: url('/noise.png'), radial-gradient(circle, #562446 0%, #481e3b 44%, #3a1830 88%);
  background-blend-mode: overlay;
  color: var(--foreground);
}

@utility card {
  @apply p-2 space-y-1 hover:bg-black/10 transition-colors duration-150 overflow-hidden;
}

@utility desc-before {
  @apply absolute left-0 top-1 bottom-1 w-[1px] bg-[var(--foreground)] opacity-25;
}

@utility fisheye-zoom {
  @apply transition-all duration-300 ease-in-out hover:scale-110 hover:rounded-[15px];
}

@utility about-p {
  @apply relative pl-2 py-2 before:desc-before text-sm leading-normal tracking-[0.01em];
}

@layer utilities {
  .link-before {
    position: relative;
    overflow: hidden;
    display: block;
  }

  .link-before::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 3;
    width: 100%;
    height: 1px;
    background-color: var(--foreground);
    transform: scaleX(0);
    transition: transform 0.22s ease-in-out;
  }

  .link-before:hover::before {
    transform: scaleX(1);
  }
}

@utility burger-bar {
  @apply h-[4px] w-8 bg-[var(--foreground)] transition rounded-4xl;
}
